 body{
    background-color: rgb(253, 238, 219); 
    font-family: 'Courier New', Courier, monospace;    
    border-radius: 10px;
 }

 .container-form{
    background-color: rgb(148, 141, 130); 
    max-width: 500px;
    width: 100%;
    margin: 48px auto;
    color: white;
    position: relative;
 }
 .container-form h2{
    margin: 00 28px 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;  
 }

.container-form input[type="text"],
.container-form input[type="password"],
.container-form input[type="email"]{
    font-family: unset;
    outline: none;
    display:block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background-color: rgb(197, 169, 147);
    color:black;
    border-radius: 5px;
    border-color: rgb(250, 239, 139);
    border-bottom:4px solid #ee0f0f;
} 
.container-form input[type="text"]:focus,
.container-form input[type="password"]:focus,
.container-form input[type="email"]:focus{
    border-bottom:4px solid #40d423;
}
