.color1{
    color: rgb(245, 244, 244);
}
.color2{
    color: black;
}
.color3{
    color: rgb(199, 183, 157);
}
.fondo1{
    background-color: rgb(148, 141, 130);
}
.fondo2{
    background-color: rgb(143, 107, 77);
}
.fondo3{
    background-color: ;
}